<div unit="" ng-controller="listTest">
  <nu-list src="list" nu-list-type=""></nu-list>
  <div result="">{{unitCase}}</div>
</div>

<div unit="" ng-controller="listTest">
  <nu-list src="list" nu-list-addable="" nu-list-type=""></nu-list>
  <div result="">{{unitCase}}</div>
</div>

<div unit="" ng-controller="listTest">
  <nu-list src="list" nu-list-removable="" nu-list-type=""></nu-list>
  <div result="">{{unitCase}}</div>
</div>

<div unit="" ng-controller="listTest">
  <nu-list src="list" nu-list-addable="" nu-list-removable="" nu-list-type=""></nu-list>
  <div result="">{{unitCase}}</div>
</div>
