<div unit="" ng-controller="angular.noop">
  <nu-press-button name="switchName" icon="fa fa-anchor" ng-model="unitCase"></nu-press-button>
  <div result="">{{unitCase}}</div>
</div>

<div unit="" ng-controller="angular.noop">
  <input nu-press-button="" icon="fa" 
    on="fa-flag" off="fa-flag-o" 
    ng-true-value="Working" ng-model="unitCase"/>
  <div result="">{{unitCase}}</div>
</div>

<div unit="" ng-controller="angular.noop">
  <input nu-press-button="" icon="fa" 
    on="fa-flag" off="fa-flag-o"  checked="" 
    ng-true-value="Working" ng-false-value="It's Off" ng-model="unitCase"/>
  <div result="">{{unitCase}}</div>
</div>

<div unit="" ng-controller="angular.noop">
  <nu-press-button name="switchName" type="radio"
    icon="fa" on="fa-flag" off="fa-flag-o"
    ng-true-value="Case1" ng-model="unitCase"></nu-press-button>
  <nu-press-button name="switchName" type="radio" 
    icon="fa" on="fa-bell" off="fa-bell-o"
    ng-true-value="Case2" ng-model="unitCase"></nu-press-button>
  <div result="">{{unitCase}}</div>
</div>

<div unit="" ng-controller="angular.noop">
  <nu-press-button name="switchName" icon="fa fa-anchor" ng-model="unitCase" disabled="disabled"></nu-press-button>
  <div result="">{{unitCase}}</div>
</div>

<div unit="" ng-controller="angular.noop" ng-init="unitCase = true; isDisabled = true">
  <nu-press-button name="switchName" icon="fa fa-anchor" ng-model="unitCase" disabled="{{isDisabled}}"></nu-press-button>
  <div>
    <button ng-click="isDisabled = false;">Enable</button>
    <button ng-click="isDisabled = true;">Disable</button>
  </div>
  <div result="">{{unitCase}}</div>
</div>

<div unit="" ng-controller="angular.noop">
  <nu-press-button name="switchName" icon="fa fa-anchor" nu-change="unitCase = $event.value"></nu-press-button>
  <div result="">{{unitCase}}</div>
</div>