<div unit="" ng-controller="angular.noop">
  <input type="text" nu-wrap="" placeholder="my placeholder" ng-required="" />
</div>

<div unit="" ng-controller="angular.noop">
  <input type="text" nu-wrap="" ng-model="unitCase" placeholder="my placeholder"/>
  <input type="text" ng-model="unitCase"/>
  <div result="">{{unitCase}}</div>
</div>

<div unit="" ng-controller="angular.noop">
  <script type="text/ng-template" id="warp.button">
  <span class="nu wrap">
    <wrap-view></wrap-view>
    <wrap-in></wrap-in>
    <button class="show-editor" ng-click="show(!valid)">Ok</button>
    <button class="show-editor" ng-click="reset(); show()">Reset</button>
  </span>
  </script>

  <input type="text" nu-wrap="warp.button" placeholder="my placeholder" ng-model="test" required/>
</div>

<div ng-controller="wrapSelectCtrl">
  <script type="text/ng-template" id="warp.colors">
  <span class="nu wrap">
    <wrap-view>{{$model$.name}}</wrap-view>
    <wrap-in></wrap-in>
  </span>
  </script>

  <div wrapset="warp.colors">
    <hr/>
    Color (null not allowed):
    <select ng-model="color" nu-wrap="" ng-options="c.name for c in colors"></select>
    <br>
    Color (null allowed):
    <span class="nullable">
      <select nu-wrap="" ng-model="color" ng-options="c.name for c in colors">
        <option value="">-- choose color --</option>
      </select>
    </span>
    <br/>
    Color grouped by shade:
    <select nu-wrap="" ng-model="color" ng-options="c.name group by c.shade for c in colors">
    </select>
  </div>
  <br/>
  Select <a href ng-click="color={name:'not in list'}">bogus</a>.
  <br>
  <hr/>
  <div result="">{{color}}</div>
  <div style="border:solid 1px black; height:20px" ng-style="{'background-color':color.name}">
  </div>
</div>