// nu.button.less

.nu.button {
  &.press {
    input[type="checkbox"], input[type="radio"] {
      &:checked {
        & + label {
          display: none;
        }
        //INFO: The usage of ~ because of Chrome/Webkit older versions selector issue
        & ~ label[icon="On"], & + label + label {
          display: inherit;
        }
      }
    }

    label {
      #nu > #mixin > .unselectable();
      cursor: pointer;
    }

    label + label {
      display: none;
    }

    &[disabled] {
      label {
        cursor: not-allowed;
      }
    }
    
    display: inline-block;
  }

  &.view {
    .icon, .progress {
      &-inner { 
        &:after, &:before {
          content: "";
          position: absolute;
        }
        display: none;
      }
      width: 2em;
      height: 2em;
      top: -0.2em;
      left: -0.2em;
      border: 0.2em solid transparent;
      position: absolute;

      &:after, &:before {
        content: "";
        position: absolute;
      }
    }

    &.coin {
      .progress {
        &:after {
          left: 0.155em;
          position: absolute;
          content: "";
          width: 0.2em;
          height: 0.4em;
          background: gray;
          .vendor-prefix(transform, rotate(140deg), moz webkit w3c);
        }

        top: -0.2em;
        left: -0.2em;
        border: 0.2em solid red;
        border-radius: 50%;
        .vendor-prefix(transform, rotate(0.12turn), moz webkit w3c);
      }

      border-radius: 50%;
      border: 0.2em solid transparent;
    }

    &.box, &.fcbox {
      .icon {
        z-index: 10;
      }
      .progress {
        &:before, &:after {
          content: "";
          position: absolute;
        }

/*        &:before {
          height: 2.4em;
          width: 2.4em;
          top: -0.2em;
          left: -0.2em;
          background: rgba(0,0,0,0.5);
        }*/

        &:after {
          height: 2em;
          width: 2em;
        }

        border-color: #428bca;
      }
      border: 0.2em solid transparent;
    }

    font-size: 32px;
    width: 2em;
    height: 2em;
    position: relative;
    display: inline-block;
  }
}
