// nu.button.less

.nu.button {
  &.press {
    input[type="checkbox"], input[type="radio"] {
      &:checked {
        & + label {
          display: none;
        }
        //INFO: The usage of ~ because of Chrome/Webkit older versions selector issue
        & ~ label[icon="On"], & + label + label {
          display: inherit;
        }
      }
    }

    label {
      #nu > #mixin > .unselectable();
      cursor: pointer;
    }

    label + label {
      display: none;
    }

    &[disabled] {
      label {
        cursor: not-allowed;
      }
    }
    
    display: inline-block;
  }

  &.view {
    .icon, .progress {
      &-inner { display: none; }
      width: 2em;
      height: 2em;
      position: absolute;
    }

    &.coin {
      .icon:after, .icon:before, .icon-inner:after, .icon-inner:before {
        content: "";
        position: absolute;
      }
      
      .progress {
        &:after {
          left: 0.155em;
          position: absolute;
          content: "";
          width: 0.2em;
          height: 0.4em;
          background: gray;
          -webkit-transform: rotate(140deg);
          -moz-transform: rotate(140deg);
          transform: rotate(140deg);
        }

        top: -0.2em;
        left: -0.2em;
        border: 0.2em solid red;
        border-radius: 50%;
        -webkit-transform: rotate(0.12turn);
        -moz-transform: rotate(0.12turn);
        -transform: rotate(0.12turn);
      }

      border-radius: 50%;
      border: 0.2em solid transparent;
    }

    font-size: 32px;
    width: 2em;
    height: 2em;
    position: relative;
    display: inline-block;
  }
}

.view .icon {
  &.play:after {
    top: 0.25em;
    left: 45%;
    border: 0.8em solid transparent;
    border-left-color: #c55500;
    background: transparent;
    margin-left: -0.125em;
  }

  &.pause:after {
    top: 0.5em;
    left: 33%;
    width: 0.2em;
    height: 1em;
    border: 4px solid #c55500;
    border-width: 0 0.3em;
    background: transparent;
  }

  &.stop:after {
    top: 0.5em;
    left: 25%;
    width: 1em;
    height: 1em;
    background: #c55500;
  }

  &.replay {
    &:after {
      top: 0.25em;
      left: 50%;
      border: 0.4em solid white;
      border-left-color: #c55500;
      background: transparent;
    }

    &:before {
      top: 0.4em;
      left: 21%;
      width: 0.8em;
      height: 0.8em;
      border: 0.2em solid #c55500;
      border-radius: 50%;
      background: transparent;
    }
  }

  &.image {
    &:after {
      border: 0.15em solid black;
      border-radius: 50%;
      top: 34%;
      left: 28%;
    }

    .icon-inner {
      &:after {
        border: 0.8em solid transparent;
        border-bottom-color: #c55500;
        background: transparent;
        top: -0.5em;
        left: 0em;
      }

      &:before {
        top: -0.3em;
        left: -54%;
        border: 0.8em solid transparent;
        border-bottom-color: #c55500;
        background: transparent;
      }

      width: 1em;
      height: 0.8em;
      left: 0.45em;
      border: 2px solid;
      top: 0.55em;
      position: absolute;
      display: block;
      overflow: hidden;
    }

    overflow: hidden;
  }
}
